.htaccess
robots.txt
googleb*.html
y_key_*.html
crossdomain.xml
sitemap.xml
sitemap.xml.gz
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/db-config.ini
wp-content/languages/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/feedlogger/data/*
/readme.html
/readme-ja.html
/license.txt
error/
.svn/
/*.html
/*.js
/*.css
/*.php
/*.png
/*.jpg
/*.ico
*.bak
*.log
*.tmp
