@charset "UTF-8";
hr.clear
	{
	width:1px;
	height:1px;
	color:#FFFFFF;
	border:none;
	clear:both;
	}
*+html hr.clear
	{
	border:none;
	padding:0px;
	}
select#exclude_page ,
select#exclude_category
	{
	height:auto;
	}
#wpbody div#megumi_ukiyoe_wrap
	{
	padding:10px 10px 10px 10px;
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	background:#FFFFFF;
	}
div#megumi_ukiyoe_wrap ul#tab_nav
	{
	width:19%;
	float:left;
	}
div#megumi_ukiyoe_wrap ul#tab_nav li
	{
	width:auto;
	text-align:center;
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	padding:5px 0px 5px 0px;
	}
div#megumi_ukiyoe_wrap ul#tab_nav li a
	{
	text-decoration:none;
	font-weight:bold;
	}
div#megumi_ukiyoe_wrap ul#tab_nav li.present ,
div#megumi_ukiyoe_wrap ul#tab_nav li:hover
	{
	color:#D54E21;
	background:#E3E3E3;
	}

div#megumi_ukiyoe_wrap div.tabBox
	{
	width:79%;
	float:right;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box
	{
	margin:0px 0px 10px 0px;
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	padding:0 1em 1em 1em;
	}
div#megumi_ukiyoe_wrap div.img_box
	{
	margin:10px 10px 10px 10px;
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	padding:0 1em 1em 1em;
	background:#FFFFFF;
	display:block;
	}
div#megumi_ukiyoe_wrap div.readme_box
	{
	margin:10px 10px 10px 10px;
	display:block;
	}
div#megumi_ukiyoe_wrap div.readme_box div
	{
	margin:10px 10px 10px 10px;
	border:solid 1px #E3E3E3;
	border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	padding:0 1em 1em 1em;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box:hover ,
div#megumi_ukiyoe_wrap div.tabBox div.img_box:hover
	{
	border:solid 1px #D54E21;
	background:#E3E3E3;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box table
	{
	width:100%;
	text-align:left;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box table th
	{
	width:50%;
	vertical-align:top;
	padding:5px 5px 5px 5px;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box table td
	{
	width:50%;
	vertical-align:top;
	padding:5px 5px 5px 5px;
	}
div#megumi_ukiyoe_wrap div.tabBox div.set_box table td.option
	{
	width:100%;
	vertical-align:top;
	padding:100px 0px 0px 0px;
	}
	 
div#megumi_ukiyoe_wrap div.tabBox div.set_box table td label
	{
	vertical-align:middle;
	display:block;
	}
div#megumi_ukiyoe_wrap div.img_box table
	{
	width:100%;
	text-align:left;
	}
div#megumi_ukiyoe_wrap div.img_box table th
	{
	width:auto;
	vertical-align:top;
	padding:5px 5px 5px 5px;
	}
div#megumi_ukiyoe_wrap div.img_box table td
	{
	width:auto;
	vertical-align:top;
	padding:5px 5px 5px 5px;
	}

div#megumi_ukiyoe_wrap table.seo-table ,
div#megumi_ukiyoe_wrap table.othe-table
	{
	margin:10px 10px 10px 10px;
	}
div#megumi_ukiyoe_wrap table.seo-table th ,
div#megumi_ukiyoe_wrap table.othe-table th
	{
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	}
div#megumi_ukiyoe_wrap table.seo-table td ,
div#megumi_ukiyoe_wrap table.othe-table td
	{
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	}
div#megumi_ukiyoe_wrap table.theme_img_table th
	{
	text-align:left;
	vertical-align:middle;
	border-bottom:1px dotted #E3E3E3;
	padding:10px 10px 10px 10px;
	}
div#megumi_ukiyoe_wrap table.theme_img_table td
	{
	text-align:left;
	vertical-align:middle;
	border-bottom:1px dotted #E3E3E3;
	padding:10px 10px 10px 10px;
	}
div#megumi_ukiyoe_wrap table.user-style-table
	{
	width:98%;
	margin:10px auto 10px auto;
	}
div#megumi_ukiyoe_wrap table.user-style-table th
	{
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	}
div#megumi_wrap table.user-style-table td
	{
	text-align:left;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	}
div#megumi_wrap table.user-style-table td textarea
	{
	width:100%;
	height:500px;
	}
	
/* ************************************************ 
 * Feeling!!
 * It is inquiry in the Webnist
 * webnist@webnist.org
 * ************************************************ */